<p id="notice"><%= notice %></p>

<h1>Listing User Moods</h1>

<div align="center">
  <%= will_paginate %>
</div>

<table class="table table-striped">
 <thead>
    <tr>
      <th>User</th>
      <th>Mood</th>
      <th>Date</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @user_moods.each do |user_mood| %>
      <tr>
        <td><%= user_mood.user.email %></td>
        <td><%= user_mood.mood.title %></td>
        <td><%= user_mood.created_at %></td>
        <td><%= link_to 'Show ', user_mood %></td>
        <td><%= link_to 'Edit ', edit_user_mood_path(user_mood) %></td>
        <td><%= link_to 'Destroy', user_mood, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> 
<br>

<%= link_to 'New User mood', new_user_mood_path %>

<div align="center">
  <%= will_paginate %>
</div>


<div class="PAGEFOOTER"></div>
